routes/node_modules
routes/public/hot
routes/public/storage
routes/storage/*.key
routes/vendor
routes/.env
routes/.env.backup
routes/.phpunit.result.cache
routes/docker-compose.override.yml
routes/Homestead.json
routes/Homestead.yaml
routes/npm-debug.log
routes/yarn-error.log


controllers/node_modules
controllers/public/hot
controllers/public/storage
controllers/storage/*.key
controllers/vendor
controllers/.env
controllers/.env.backup
controllers/.phpunit.result.cache
controllers/docker-compose.override.yml
controllers/Homestead.json
controllers/Homestead.yaml
controllers/npm-debug.log
controllers/yarn-error.log